<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Biblioteka.Properties.Settings.BazaBiblioConnect"
            connectionString="Data Source=DESKTOP-IVC6MV0\SQLEXPRESS;Initial Catalog=BazaBiblio;User ID=admin;Password=123qwe"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>